@font-face {
  font-family: beauty;
  src: url('/portfolio/portfoliowebsite/public//fonts/Beautymountains.ttf');
}

body {
  font-family: Montserrat !important;
  font-weight: 300 !important;
}

#logo {
  position: absolute;
  left: 10%;
  top: 5vh;
  width: 4%;
}

#start{
  color: #1b4b72;
  font-size: 140px;
  font-family: beauty;
}

.beschrijving{
  width: 50%;
  position: absolute;
  bottom: 15vh;
  left: 10%;
}

.beschrijving p{
  position: relative !important;
  color: white;
  font-size: 20px !important;
}

.achtergrond {
  background: #C4B8EA no-repeat;
  height: 75vh;
  width: 100%;
}

.start {
  height: 100vh;
  position: relative;
}

.navbar{
  width: 100%;
  z-index: 99999;
}

i {
  border: solid #C4B8EA;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 7px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.scroll{
  position: absolute;
  color: #C4B8EA;
  font-size: 15px;
  bottom: 2vh;
  text-align: center;
  width: 100%;
}

#startimage{
  width: 33%;
  position: absolute;
  top: 20%;
  right: 10%;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
}

.navbar {
  padding-right: 10% !important;
  padding-top: 7vh !important;
}

.nav-item{
  padding-left: 30px;
  padding-right: 30px;
}

#overmij{
  font-family: beauty;
  padding-top: 40px;
  padding-bottom: 30px;
}

#quote{
  font-family: beauty;
  padding-top: 40px;
  padding-bottom: 30px;
}

.overmij {
  color: #1b4b72;
  width: 30%;
  margin-left: 10%;
  line-height: 30px;
  float: left;
  margin-bottom: 100px;
}

.navhome {
  width: 33%;
  float: right;
  margin-right: 10%;
  margin-top: 30vh;
}

.navhomeleft {
  width: 33%;
  margin-left: 10%;
  margin-top: 10vh;
}

.navbar {
  position: absolute !important;
}

.navhome ul, .navhomeleft ul {
  list-style: none;
  padding-left: 0 !important;
  font-size: 17px;
  font-weight: 300;
  color: #1b4b72;
  cursor: pointer;
  width: 300px;
  line-height: 50px;
}

.navhome ul li:hover, .navhomeleft ul li:hover {
  font-weight: 500;
}

.navhome ul span, .navhomeleft ul span{
  font-size: 35px;
  color: #C4B8EA;
  padding-right: 70px;
  font-weight: 300 !important;
}

.navhome ul li:first-child span, .navhomeleft ul li:first-child span{
  padding-right: 75px;
}

a.nav-link {
  padding: 0 !important;
}

a {
  color: black !important;
}

.clearfix {
  clear: both;
}

.imagehome {
  width: 40%;
  float: left;
}

.quotediv{
  width: 43%;
  margin-right: 10%;
  float: right;
  color: #1b4b72;
}

.quotediv p {
  line-height: 70px;
    font-family: beauty;
    color: #1b4b72;
  font-size: 50px;
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.quotediv span {
  font-size: 70px;
  color: #C4B8EA;
}

.imagezee {
  width: 40%;
  margin-right: 10%;
  float: right;
}

.marginhome {
  margin-bottom: 100px;
}

.navhomeleft p{
margin-top: 30px;
  color: #1b4b72;
  line-height: 30px;
}

footer {
  background: #EFE9E2;
  height: 200px;
}

footer img {
  width: 80px;
  margin-top: 60px;
  margin-left: 10%;
  float: left;
}

footer h3{
  line-height: 200px;
  float: left;
  margin-left: 50px;
  font-family: beauty;
  font-size: 30px;
  color: #C4B8EA;
}

footer ul {
  display: inline-block;
  margin-top: 75px;
  list-style: none;
  width: 30%;
}

footer ul li {
  cursor: pointer;

}

.listsfooter {
  float: right;
  width: 40%;
  margin-right: 10%;
}

.aboutme {
  float: right;
  width: 33%;
  margin-right: 10%;
}

#contactgegevens {
  width: 60% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  height: 650px;
  padding: 100px;
}

.backgroundcontact {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  margin-top: 160px;
}

.contacttitel {
  text-align: center;
  padding-top: 300px;
  font-size: 100px;
  font-family: beauty;
  color: #1b4b72;
}

.container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.35);
}

.icooncontact {
  width: 30px;
  margin-bottom: 20px;
}

.container p {
  margin-bottom: 20px;
}

#contactgegevens .col-sm {
  padding-left: 60px;
}

#contactgegevens .row {
  margin-top: 30px;
}

.contentabout .list-group-item:first-child{
  background-color: #C4B8EA !important;
  color: #1b4b72;
  font-size: 20px;
  font-family: beauty;

}

.contentabout .row{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 100px;
}

.contentabout {
  margin-top: -100px;
}